.body-styles{
    background-color: aliceblue;
}

/* .error-text{
    display: none;
} */


.card-spacing{
    padding: 0% 5% 0% 5%;
}

.custom-width{
    width: 40%;
} 
.card{
    /* align-items: center; */
    display: flex;
}
.mx-auto{
    margin-right: auto!important;
    margin-left: auto!important;
}

@media screen and (max-width: 480px){
    .custom-width{
        width: 75%;
    }
}